{
  "extends": "airbnb",
  "env": {
    "browser": true,
    "node": true,
    "es6": true,
    "jest": true
  },
  "parser": "babel-eslint",
  "rules": {
    "semi": 0,
    "import/extensions": 0,
    "no-multi-spaces": [0, { "exceptions": { "ImportDeclaration": true } }],
    "no-unused-expressions": [0, { "allowShortCircuit": true }],
    "arrow-parens": [2, "as-needed", { "requireForBlockBody": false }],
    "space-before-function-paren": [2, "always"],
    "object-curly-newline": [2, { "consistent": true }],
    "no-unused-vars": [2, { "argsIgnorePattern": "^_" }],
    "jsx-a11y/anchor-is-valid": [ "error", {
      "components": [ "Link" ],
      "specialLink": [ "to" ]
    }]
  },
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "plugins": [
    "react",
    "jsdoc"
  ]
}
